FFMPEG_LOG_LEVEL="info"
STRIMSERVER_SRT_PORT=9000
STRIMSERVER_RTSP_PORT=8554

MEDIAMTX_READ_TIMEOUT_DURATION="12s"


NORMALIZE_STARTUP_DELAY_SECONDS=0
NORMALIZED_VIDEO_BITRATE="9000k"
NORMALIZED_VIDEO_MAXRATE="9000k"
NORMALIZED_VIDEO_MINRATE="9000k"
NORMALIZED_VIDEO_BUFSIZE="9000k"
NORMALIZED_AUDIO_BITRATE="320k"

# Mediamtx creates the socket in listen mode
# ffmpeg connects to the socket and writes to it
NORMALIZED_MPEGTS_SOCKET="/strimserver-normalized.sock"

SCALE_STARTUP_DELAY_SECONDS=0
SCALED_VIDEO_BITRATE="9000k"
SCALED_VIDEO_MAXRATE="9000k"
SCALED_VIDEO_MINRATE="9000k"
SCALED_VIDEO_BUFSIZE="9000k"
SCALED_VIDEO_HEIGHT_PIXELS="936"

TWITCH_INGEST_SERVER=live.twitch.tv
TWITCH_STREAM_KEY=blahblah
EGRESS_VIDEO_BITRATE="2500k"
EGRESS_VIDEO_MAXRATE="2500k"
EGRESS_VIDEO_MINRATE="2500k"
EGRESS_VIDEO_BUFSIZE="2500k"
EGRESS_AUDIO_BITRATE="160k"
BANDWIDTH_TEST=false

CONTAINERD_NAMESPACE=""
CONTROLLER_RECONCILE_INTERVAL=""
CONTROLLER_INFLIGHT_TIMEOUT=""
CONTROLLER_SHUTDOWN_TIMEOUT=""
CONTROLLER_ACTIONS_BUFFER_SIZE=""
CONTROLLER_HTTP_PORT=""
MEDIAMTX_CONTAINER_ID=""
MEDIAMTX_SNAPSHOT_ID=""
MEDIAMTX_IMAGE_NAME=""
MEDIAMTX_LOG_FILE=""
NORMALIZE_CONTAINER_ID=""
NORMALIZE_SNAPSHOT_ID=""
FFMPEG_IMAGE_NAME=""
NORMALIZE_LOG_FILE=""
EGRESS_CONTAINER_ID=""
EGRESS_SNAPSHOT_ID=""
EGRESS_LOG_FILE=""
FFMPEG_NICE="-5"
MEDIAMTX_NICE="-10"
