PATH="$PATH:/path/to/projects/strimserver"

SSH_CMD="<SSH command, default 'ssh'>"
SSH_HOST="strimserver"
SSH_USER="ec2-user"

# S3 bucket that holds artifacts and models
S3_BUCKET=s3://<bucket-name>

STRIMSERVER_DEPLOYMENT_FILE_NAME=strimserver-deployment.tar
IPERF3_DEPLOYMENT_FILE_NAME=iperf3-deployment.tar

# Current deployment
DEPLOYMENT=$STRIMSERVER_DEPLOYMENT_FILE_NAME

