FFMPEG_LOG_LEVEL="info"
STRIMSERVER_SRT_PORT=9000
SRT_PACKET_SIZE=1316
SRT_LATENCY_US=80000
SRT_MAX_BW_BYTES_PER_SEC=12500000
SRT_INPUT_BW_BYTES_PER_SEC=9000000
SRT_OVERHEAD_BW_PERCENT=25
NORMALIZED_VIDEO_BITRATE=9000k
NORMALIZED_AUDIO_BITRATE=320k
SCALED_VIDEO_BITRATE=9000k
TWITCH_INGEST_SERVER=live.twitch.tv
TWITCH_STREAM_KEY=blahblah
EGRESS_VIDEO_BITRATE=1500k
EGRESS_AUDIO_BITRATE=160k
BANDWIDTH_TEST=false
