INGEST_SERVER="<find your closest twitch ingest server at https://help.twitch.tv/s/twitch-ingest-recommendation>"
STREAM_KEY="<twitch stream key>"
BANDWIDTH_TEST="false"
VIDEO_BITRATE="5700k"
AUDIO_BITRATE="128k"

