FFMPEG_LOG_LEVEL="info"
STRIMSERVER_SRT_PORT=9000
STRIMSERVER_RTSP_PORT=8554

MEDIAMTX_READ_TIMEOUT_DURATION="12s"


NORMALIZE_STARTUP_DELAY_SECONDS=0
NORMALIZED_VIDEO_BITRATE="9000k"
NORMALIZED_VIDEO_MAXRATE="9000k"
NORMALIZED_VIDEO_MINRATE="9000k"
NORMALIZED_VIDEO_BUFSIZE="9000k"
NORMALIZED_AUDIO_BITRATE="320k"

# Mediamtx creates the socket in listen mode
# ffmpeg connects to the socket and writes to it
NORMALIZED_MPEGTS_SOCKET="/tmp/strimserver-normalized.sock"

SCALE_STARTUP_DELAY_SECONDS=0
SCALED_VIDEO_BITRATE="9000k"
SCALED_VIDEO_MAXRATE="9000k"
SCALED_VIDEO_MINRATE="9000k"
SCALED_VIDEO_BUFSIZE="9000k"
SCALED_VIDEO_HEIGHT_PIXELS="936"

TWITCH_INGEST_SERVER=live.twitch.tv
TWITCH_STREAM_KEY=blahblah
EGRESS_VIDEO_BITRATE="2500k"
EGRESS_VIDEO_MAXRATE="2500k"
EGRESS_VIDEO_MINRATE="2500k"
EGRESS_VIDEO_BUFSIZE="2500k"
EGRESS_AUDIO_BITRATE="160k"
BANDWIDTH_TEST=false
