STRIMSERVER_HOST=strimserver
STRIMSERVER_SRT_INGEST_PORT=9000
SRT_PUBLISH_PATH="ingress0"

# --- SRT Configuration ---
SRT_PACKET_SIZE=1316
SRT_LATENCY_US=80000

# MAX_BW_BYTES == 0 -> relative mode (calculated by OVERHEAD_BW_PERCENT)
SRT_MAX_BW_BYTES_PER_SEC=0

# convert to BYTES_PER_SEC -> sender BW (bps) / 8
# 22Mbps -> 2.75MB/s -> 2750000 bytes/sec
SRT_INPUT_BW_BYTES_PER_SEC=2750000
SRT_OVERHEAD_BW_PERCENT=25

SRT_PASSPHRASE=asldjkfalskj
SRT_PB_KEY_LEN=32

FFMPEG_CMD="/path/to/ffmpeg"
INPUT_FIFO="/Users/<streamer_user>/obs.nut"
VIDEO_BITRATE="22000k"
AUDIO_BITRATE="320k"
