STRIMSERVER_HOST=strimserver
STRIMSERVER_SRT_INGEST_PORT=9000
SRT_PUBLISH_PATH="macbook_encoder"
SRT_PACKET_SIZE=1316
SRT_LATENCY_US=80000
SRT_MAX_BW_BYTES_PER_SEC=0
SRT_INPUT_BW_BYTES_PER_SEC=11250000
SRT_OVERHEAD_BW_PERCENT=25
SRT_PASSPHRASE=asldjkfalskj
SRT_PB_KEY_LEN=32
FFMPEG_CMD="/path/to/ffmpeg"
INPUT_FIFO="/Users/<streamer_user>/obs.nut"
VIDEO_BITRATE=9m
AUDIO_BITRATE=320k
